<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mrsignage_rss>
            <general>
                <enable>1</enable>
                <catalog_selection>1</catalog_selection>
            </general>
        </mrsignage_rss>
    </default>
</config>